  <tool name="gcc-ccompiler" version="${GCC_VER}" type="compiler">
    <client>
      <environment name="GCC_CCOMPILER_BASE" default="${GCC_PREFIX}"/>
    </client>
    <flags CSHAREDOBJECTFLAGS="-fPIC   "/>
    <flags CFLAGS="-O2 -pthread   "/>
  </tool>
